<nav class="navbar navbar-expand-lg navbar-light bg-light align-items-end" *ngIf="isLoggedIn()">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ">
			<li class="nav-item active">
				<a class="nav-link text-primary" routerLink="/userList">All users</a>
			</li>
			<li class="nav-item" name="createUpdateUsersRef" *ngIf="userHasUpdatePerm()">
				<a class="nav-link text-primary" routerLink="/updateUser">Update users</a>
			</li>
			<li class="nav-item" *ngIf="userHasCreatePerm()" name="createUsersRef">
				<a class="nav-link  text-primary" routerLink="/newUser">Create Users</a>
			</li>
			<li class="nav-item" *ngIf="isLoggedIn()" name="createUsersRef">
				<a class="nav-link text-primary" routerLink="/myMachines">Machines</a>
			</li>
			<li class="nav-item" *ngIf="isLoggedIn()" name="errorsRef">
				<a class="nav-link text-primary" routerLink="/errors">Errors</a>
			</li>
			<li class="nav-item">
				<div *ngIf="!isLoggedIn() && getCurrentPath() !== '/login'">
					<a routerLink="/login">
						<button class="btn btn-primary">Login</button>
					</a>
				</div>
			</li>
			<div *ngIf="isLoggedIn()" class="">
				<li class="nav-item text-primary">
					<button class="btn btn-danger" (click)="logout()">Log out</button>
				</li>
			</div>
			<div *ngIf="isLoggedIn()" class="nav-link">
				<li class="nav-item">
					<p class="text-dark">{{username}}</p>
				</li>
			</div>
		</ul>
	</div>
</nav>
