<div class="container mt-3">
	<button class="btn btn-primary d-flex justify-content-end align-items-end float-end" routerLink="/newMachine">Create new machine</button>
	<h3>Your machines:</h3>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Created on</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let m of machines">
			<td>{{m.machineId}}</td>
			<td>{{m.name}}</td>
			<td>{{m.createdOn}}</td>
			<td>{{m.status}}</td>
			<td>
				<div class="btn-toolbar">
					<!--todo add padding to buttons-->
					<!--todo disable buttons instead of making them disappear-->
					<button class="btn btn-primary" *ngIf="hasStartPermission() && !isStopped(m)" (click)="startMachine(m)">Start</button>
					<button class="btn btn-primary" *ngIf="hasStopPermission() && isStopped(m)" (click)="stopMachine(m)">Stop</button>
					<button class="btn btn-success" *ngIf="hasRestartPermission() && isStopped(m)" (click)="restartMachine(m)">Restart</button>
					<button class="btn btn-danger" *ngIf="hasDestroyPermission() && !isStopped(m)" (click)="destroyMachine(m)">Destroy</button>
				</div>
			</td>
		</tbody>
	</table>
</div>
