<h3>User list:</h3>

<table class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Username</th>
		<th>Email Address</th>
		<th>p_create</th>
		<th>p_read</th>
		<th>p_update</th>
		<th>p_delete</th>
		<th>pm_create</th>
		<th>pm_destroy</th>
		<th>pm_start</th>
		<th>pm_stop</th>
		<th>pm_restart</th>
		<th>pm_search</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let user of users">
		<td>{{ user.userId }}</td>
		<td>{{ user.username }}</td>
		<td *ngIf="userHasUpdatePerm()" name="wthever" (click)="passUpdateId(user.userId)"
			routerLink="/updateUser" class="text-primary text-decoration-underline">{{ user.email }}</td>
		<td *ngIf="!userHasUpdatePerm()" name="wthever2">{{ user.email }}</td>
		<td>{{ user.p_create }}</td>
		<td>{{ user.p_read }}</td>
		<td>{{ user.p_update }}</td>
		<td>{{ user.p_delete }}</td>
		<td>{{ user.pm_create }}</td>
		<td>{{ user.pm_destroy }}</td>
		<td>{{ user.pm_start }}</td>
		<td>{{ user.pm_stop }}</td>
		<td>{{ user.pm_restart }}</td>
		<td>{{ user.pm_search}}</td>
		<td *ngIf="userHasDeletePerm()">
			<button class="btn btn-danger" (click)="deleteUser(user.userId)">Delete</button>
		</td>
	</tr>
	</tbody>
</table>
